services:
  gateway:
    build: .
    image: mundo-catalogo-gateway:latest
    container_name: mundo-catalogo-gateway
    ports:
      - "8080:8080"
    environment:
      SPRING_PROFILES_ACTIVE: "local,local-container"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/actuator/health/readiness"]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 40s
    restart: unless-stopped
    networks:
      - app-net

networks:
  app-net:
    driver: bridge
